# macOS
.DS_Store
.AppleDouble
.Spotlight-V100
.Trashes
.localized
*.icloud

# VSCode
.vscode/

# CodeRunner
tempCodeRunnerFile*
*.dSYM/
**/*.dSYM/

# Arquivos de build e símbolos (macOS, C)
*.out
*.o
*.dSYM
**/*.dSYM/
*.log
*.tmp
*.bak

# Backup / sistema
Thumbs.db
ehthumbs.db
Desktop.ini
.cache/
*.swp
*.swo
*.orig
*.old
*.pid
*.seed
*.lock

# Arquivos comprimidos
*.zip
*.tar
*.gz
*.tar.gz
*.tgz
*.rar
*.7z

# Arquivos executáveis sem extensão (CodeRunner, compilação C)
Assessment_Task_[!*.]*
test

/bin/
tempCodeRunnerFile*
*.dSYM/
